.card {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 80vh;
}
.card label {
    display: block;
    margin-bottom: 10px;
}

.card input,
.card select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.card button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    margin-bottom: 20px;
}

.panel-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.2em; 
    font-weight: bold; 
}

.row {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

 @media (min-width:768px){
    .card {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        height: 80vh;
    }
 }